body {
   
    background-image:url("/static/css/flight.jpg");
    background-size:contain; 
            background-position: center; 
            height: 500px;;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; 
}

.navbar {
    background-color: #ffffff;
}

#h31{
    font-style: bold; color: rgb(10, 41, 30); text-align: center;
}


.github-logo{
    background-color: transparent;
    mix-blend-mode: multiply;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;

}
.link{
    height: 50;
}
.button{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name{color: rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

#h32{
    font-style: bold; color: rgb(255, 0, 0); text-align: center;


}